{% block header %}
    <header>
        <h1>
            <a href="{{ path('list_events') }}"><img src="{{ asset('assets/img/logo-header.png') }}" alt="Eyenight"></a>
        </h1>
        <nav>
            <ul class="menu">
                {% if user_management.isLogged() %}
                    <li><a href="{{ path('list_events') }}">Events</a></li>
                    <li><a href="{{ path('profil') }}">profil</a></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock %}