{% block header %}
    <header>
        <h1>
            <a href="{{ path('list_events') }}"><img src="{{ asset('assets/img/logo-header.png') }}" alt="Eyenight"></a>
        </h1>
        <nav>
            <ul class="menu">
                <li><a href="{{ path('login') }}">Login</a></li>
                <li><a href="{{ path('register') }}">Register</a></li>
                <li><a href="{{ path('profil') }}">profil</a></li>
                <li><a href="{{ path('list_events') }}">Events</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}